body {
  background-color:rgb(106, 101, 99) !important;
  color: whitesmoke !important;

}

.taskCs{
  background-color: rgb(160, 173, 173) !important;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: start;
  font-size: 18px;
  position: relative;
  flex:1;


}

.naslov{
  font-size: 22px;
  font-weight: 750;
}

.opis{
  font-size: 18px;
  flex:1;
}
.datum{
  font-size: 15px;
}
.avtor{
  font-size: 15px;
}
.taskCs div {
  display: flex;
  align-items: center;

}
.taskCs .done{
  text-decoration: line-through;
  opacity: 0.4;
}

.icons{
  top: 50%;
  position: absolute;
  width: auto;
  transform: translateY(-50%);
  display: inline-block;
  right: 15px;

}

.icons span {
  color: aquamarine;
  margin: 0px 8px 0px 8px;
}
.icons span:hover{
  color:red ;
}

.naslov_input{
  border-style:dashed;
  border-radius: 5px;
  margin-bottom:3px ;
}

.opis_input{
  border-style:dashed;
  border-radius: 5px;
  padding: 2%;
  text-align: left;
}
.avtor_input{
  margin-right: 3px;
  border-style:dashed;
  border-radius: 5px;
}

.datum_input{
  border-style:dashed;
  border-radius: 5px;
}

.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

#appBody {
  width: 100%;
}